.col {
    flex: 33.33%;
    /* max-width: 33.33%; */
    padding: 15px;
    
  }
  .testimonial {
    background: #4e0db8;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    min-height: 315px;
  }
  .name {
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0;
  }
  .stars {
    color: #6ab04c;
    margin-bottom: 20px;
  }